{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <body>

        <div class = "container bg-dark shadow-md rounded p-5 form-layout">
            <h3> Create Bug Report </h3>
            <h6> Start adding in the required details for submitting a bug report. </h6>
            <hr>
            <br>
            <form method="POST" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <br>
                <button class="btn btn-primary w-100 btn-block p-2" type="submit"> Create Bug Report </button>
            </form>
            <br>
            <a href="{% url 'dashboard' %}" class="btn btn-danger w-100 btn-block p-2"> Cancel </a>
        </div>
        <br>
        
    </body>
    
{% endblock %}