{% extends 'webapp/base.html' %}

{% block content %}

    <h5> Manage your Program Areas!</h5>

    <hr>

    <a class="btn btn-primary btn-sm" href="{% url 'create_functionalarea' %}">
        <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Create a new functional area
    </a>

    &nbsp; &nbsp; &nbsp;

    <a class="btn btn-primary btn-sm" href="{% url 'export_area' %}">
        <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Export Areas
    </a>  
    
    <hr>

    <div class="col-md-6">
        <!-- Filter form -->
        <form class="form-inline" method="get">
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Filter</button>
        </form>
    </div>

    <hr>

    <table class="table table-hover table-bordered">

        <thead class="table-dark">

            <tr>

                <!--<th scope="col"> ID </th>-->
                <th scope="col"> NAME </th>
                <th scope="col"> PROGRAM </th>

                <th scope="col"> VIEW </th>

            </tr>

        </thead>

        <tbody>

        {% if functionalAreas %}

            {% for functionalArea in functionalAreas %}

            <tr>
                <!--<td> {{program.id}} </td>-->
                <td> {{ functionalArea.name }} </td>
                <td> {{ functionalArea.program.name }} - {{ functionalArea.program.version }} - {{ functionalArea.program.release }} </td>

                <td> <a href="{% url 'functionalarea' functionalArea.id %}"> <i class="fa fa-eye" aria-hidden="true"> </i>  </a> </td>

            </tr>

            {% endfor %}
        
        {% endif %}

        </tbody>

    </table>

{% endblock %}