
<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center">

    <a class="navbar-brand main-heading" href="{% url 'create_functionalarea' %}"> 
            
      &nbsp; Sky Bugtracker
    
    </a>
  
  
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
  
    </button>
  
  
      <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
  
        
        <ul class="navbar-nav mr-auto">
  
  
          &nbsp;     &nbsp;     &nbsp; 
  
          {% if user.is_authenticated %}
  
            <li class="nav-item">
        
              <a class="nav-link" href="{% url 'dashboard' %}">Dashboard &nbsp; <i class="fa fa-home" aria-hidden="true"></i> </a>
  
            </li>
  
  
            &nbsp;     &nbsp;     &nbsp; 


            <li class="nav-item">
        
              <a class="nav-link" href="{% url 'program_list' %}">Programs &nbsp; <i class="fa fa-tasks" aria-hidden="true"></i> </a>
  
            </li>


            &nbsp;     &nbsp;     &nbsp; 


            <li class="nav-item">
        
              <a class="nav-link" href="{% url 'functionalarea_list' %}">Functional Areas &nbsp; <i class="fa fa-users" aria-hidden="true"></i> </a>
  
            </li>


            {% if currentEmployee.role == 'Admin' %}

            &nbsp;     &nbsp;     &nbsp; 


            <li class="nav-item">
        
              <a class="nav-link" href="{% url 'employee_list' %}">Organization &nbsp; <i class="fa fa-building-o" aria-hidden="true"></i> </a>
  
            </li>

            {% endif %}
  
  
            &nbsp;     &nbsp;     &nbsp;
  
  
            <li class="nav-item">
  
              <a class="nav-link" href="{% url 'logout' %}">Sign out &nbsp; <i class="fa fa-sign-out" aria-hidden="true"></i> </a>
  
            </li>
  
  
        </ul>
  
        {% else %}
  
        <li class="nav-item">
  
          <a class="nav-link" href="{% url 'register' %}"> Register &nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i> </a>
  
        </li>
  
  
        &nbsp;     &nbsp;     &nbsp; 
  
  
        <li class="nav-item">
  
          <a class="nav-link" href="{% url 'login' %}"> Login &nbsp; <i class="fa fa-sign-in" aria-hidden="true"></i> </a>
  
        </li>
  
  
        {% endif %}
      
        
      </div>
  
  
  </nav>