{% extends 'webapp/base.html' %}

{% block content %}

    <div class="card">

        <strong>

            <br>

            &nbsp;  &nbsp; 

            {{bugReport.program}}

            {{bugReport.problemSummary}}

        </strong>

        <hr>

        <div class="card-body">

            <p> <strong> ID:  </strong> {{bugReport.id}} </p> 

            <p> <strong> PROGRAM:  </strong> {{bugReport.program}} </p> 

            <p> <strong> SUMMARY:  </strong> {{bugReport.problemSummary}} </p>

            <p> <strong> STATUS:  </strong> {{bugReport.status}} </p>

            <p> <strong> REPORTED BY:  </strong> {{bugReport.reportedBy}} </p>

        </div>

    </div>

    <br>

    <a href="{% url 'dashboard' %}" class="btn btn-primary"> Return </a>

    &nbsp;

    <a href="{% url 'update_bugreport' bugReport.id %}" class="btn btn-info"> Update </a>

    {% if currentEmployee.level == '3' %}
    
        &nbsp;

        <a href="{% url 'delete_bugreport' bugReport.id %}" class="btn btn-danger"> Delete </a>
    
    {% endif %}

{% endblock %}